Django>=6.0
djangorestframework>=3.14
django-cors-headers>=4.3
django-colorfield>=0.12
django-guardian>=3.0
django-model-utils>=5.0
Pillow>=10.0
python-dotenv>=1.0
requests>=2.31
kavenegar>=1.1
jdatetime>=5.0
gunicorn>=22.0
psycopg2-binary>=2.9
